845e1abd965019b2/flows.json
[{"id":"845e1abd965019b2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"a45a6fcb2b2645a4","type":"inject","z":"845e1abd965019b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["76252b674e9cbae5"]]},{"id":"76252b674e9cbae5","type":"http request","z":"845e1abd965019b2","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:55539/api/webserver/websites","tls":"c7f2a4669e750ffc","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"basic","senderr":false,"headers":[{"keyType":"other","keyValue":"Host","valueType":"other","valueValue":"localhost:55539"},{"keyType":"other","keyValue":"Access-Token","valueType":"other","valueValue":"Bearer XRjlCcuBfVAWFA_5b8bgDy2xWz1dlbzbKwePcUkN4Blz29E3YxI6UQ"},{"keyType":"Accept","keyValue":"","valueType":"other","valueValue":"application/hal+json"}],"x":390,"y":240,"wires":[["a9aa20ca8bbc69c3"]]},{"id":"a9aa20ca8bbc69c3","type":"debug","z":"845e1abd965019b2","name":"debug 218","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"4293a5ef2ed10d3f","type":"inject","z":"845e1abd965019b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":340,"wires":[["f485cf0462c8f387"]]},{"id":"f485cf0462c8f387","type":"function","z":"845e1abd965019b2","name":"function 25","func":"msg.headers = {'Access-Token' : 'Bearer XRjlCcuBfVAWFA_5b8bgDy2xWz1dlbzbKwePcUkN4Blz29E3YxI6UQ'};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":340,"wires":[["b0a36012355357e4"]]},{"id":"b0a36012355357e4","type":"http-ntlm-req","z":"845e1abd965019b2","name":"","url":"https://localhost:55539/api/webserver/websites","method":0,"auth":"dd2d446f52636e01","x":550,"y":340,"wires":[["a9aa20ca8bbc69c3"]]},{"id":"c7f2a4669e750ffc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"dd2d446f52636e01","type":"http-ntlm-req-config","name":"test","user":"administrator","pass":"ProAdmin777","doman":""}]